@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap'); 
                
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  /* overflow-x: hidden; */
}

:root{
/*----------color-pallets----------*/
    --white:#fff;
    --dark-blue: #24303c;
    --dark-green: #0c211d;
    --light-blue: #EBF3FF;

    --dark: #0000;
    --grey: #efefef;
    --gold: #ccb99d;
    --blue: #5c8df6;
    --purple-gradient: #4e54c8;
    /*------gradient-color-pallets---*/
    --golden-gradient:linear-gradient(135deg, rgba(40, 118, 252, 0) 0%, rgb(205, 186, 157) 100%);



    --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    --font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
    --font-family-default: Helvetica, Arial, sans-serif;
    --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
 
}


/*---Side Scroll Bar ---*/
::-webkit-scrollbar {
  width: 0.7vmin;
}

::-webkit-scrollbar-track {
  background: #2e2e2ef0;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, rgba(138, 175, 239, 0) 0%, rgb(177, 214, 241) 100%);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(191, 206, 213);
}


.html{
  overflow-y: scroll;
}
body{
  width: 100vw;
  height: 100vh;
}
.App{
  width: 100vw;
  height: auto;
  /* background-color: var(--light-blue); */
}


/* React-Laoding */
#loading-transition{
  background: rgba(169, 234, 250, 0.728);
}
#react-loading{
  padding-top: 45vh;
}